<ion-content>
  <ion-grid class="iphone-container">
    <ion-button [routerLink]="['/','home']" color="red" size="large">
      <b><p style="color:black">CUYFC</p></b>
      </ion-button>
    <ion-row class="body">
      <ion-col size="12">
        <div class="OouiBellOutline"></div>
        <div class="LlameAl0969568747">llame al: 0969568747</div>
        <div class="Cuyfc">CUYFC</div>
        <br>
        <div class="SusComprasRecientes">Sus compras recientes</div>
        <br>
        <div class="UpssNoTienesComprasRegrasaALaTiendaAVerSiAlgoTeInteresa">upss.. no tienes compras <br/>regrasa a la tienda a ver si algo te interesa </div>
        <br>
        <div class="Vector"></div>
        <div class="Frame15">
          <div class="IrATienda">ir a tienda</div>
          <br>
          <ion-col class="image-col">
            <ion-img src="../../assets/imagenes/d82f31b9984e8ca0b3a0c0a9ecc7280e.png"class="user-image"></ion-img>
          </ion-col>  
          <div class="OouiUpload"></div>
        </div>
        <div class="EmojioneDizzyFace">
          <div class="Vector"></div>
          <div class="Group">
            <div class="Vector"></div>
            <div class="Vector"></div>
            <div class="Vector"></div>
            <div class="Vector"></div>
          </div>
          <div class="Vector"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
